@import url("https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;900&family=Roboto:wght@300;400&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  border: none;
  text-decoration: none;
}
.btn a {
  text-decoration: none;
}
.btn:hover {
  cursor: pointer;
}

.btn__blue {
  background: #1B6FA8;
  color: #FAFCFC;
}
.btn__blue:hover {
  background-color: #14527c;
}

.btn__white {
  background: #FAFCFC;
  color: #1F1F1F;
}
.btn__white:hover {
  background-color: #dae9e9;
}

.btn__gray {
  background: #FAFCFC;
  border: 2px solid rgb(204, 204, 204);
  color: rgb(204, 204, 204);
}
.btn__gray:hover {
  background-color: #dae9e9;
}

.btn__red {
  background: #E40066;
  color: #FAFCFC;
}
.btn__red:hover {
  background-color: #b1004f;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #FAFCFC;
  border-bottom: 2px solid #1F1F1F;
  display: flex;
  justify-content: center;
  position: sticky;
  z-index: 10;
}
.header__container {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left {
  width: 60%;
  height: 50%;
  display: flex;
  align-items: center;
}
.header__left h1, .header__left i {
  font-size: 2rem;
  margin-right: 7px;
  color: #1B6FA8;
}
.header__right {
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__right__search__container {
  width: 60%;
  height: 100%;
  border: 2px solid #1F1F1F;
  border-radius: 1rem;
  box-shadow: 5px 5px 0px -1px rgb(237, 176, 35);
}
.header__right__search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__right__search input {
  height: 100%;
  width: 60%;
  outline: none;
  border: none;
}
.header__right__search i {
  text-align: center;
  width: 10%;
}
.header__right__search i:last-child {
  border-left: 2px solid #1F1F1F;
}
.header__right a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__right .btn__blue {
  color: #FAFCFC;
}
.header__right .btn__white {
  color: #1F1F1F;
}
.header .btn {
  width: 100px;
  height: 100%;
}

@media only screen and (max-width: 570px) {
  .header__left {
    width: 15%;
  }
  .header__left h1 {
    display: none;
  }
  .header__right {
    gap: 0.6rem;
  }
  .header__right__search__container {
    width: 80%;
  }
  .header .btn {
    width: 75px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 571px) {
  .header__left h1 {
    display: none;
  }
  .header__right {
    gap: 1rem;
    width: fit-content;
  }
  .header__mobile {
    display: none;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header__left h1 {
    display: block;
  }
  .header__right {
    width: 40%;
  }
  .header__mobile {
    display: none;
  }
}
.nav {
  width: 13rem;
  height: 100vh;
  position: fixed;
  background: #1B6FA8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__container {
  width: 12rem;
  height: 80%;
  padding: 1rem;
}
.nav__container__div__title {
  display: flex;
  justify-content: flex-start;
}
.nav__container__div__title h1, .nav__container__div__title i {
  color: #FAFCFC;
  opacity: 50%;
  margin-bottom: 0.6rem;
  margin-left: 0.6rem;
  font-size: 1rem;
}
.nav__container__div li {
  list-style: none;
}
.nav__container__div__li {
  display: flex;
  align-items: center;
  height: 6vh;
  width: 100%;
}
.nav__container__div__li a {
  text-decoration: none;
  color: #FAFCFC;
  width: 100%;
}
.nav__container__div__li a i {
  margin-left: 0.6rem;
  width: 15%;
  text-align: start;
  color: #FAFCFC;
  opacity: 70%;
}
.nav__container__div__li:hover {
  border-radius: 1rem;
  background: #F4B333;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 570px) {
  .nav {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 570px) {
  .nav {
    display: none;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nav {
    display: flex;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
.mini-nav {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}
.mini-nav .hidden {
  display: none !important;
}
.mini-nav .nav__button {
  width: 2rem;
  height: 2rem;
  background-color: #FAFCFC;
  border: 2px solid #060606;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini-nav .nav__area {
  z-index: 1;
  background-color: #FAFCFC;
  border: 1px solid #1F1F1F;
  width: 200px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.mini-nav .nav__area__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mini-nav .nav__area__item .fa-xmark {
  font-size: 1.7rem;
}
.mini-nav .nav__area__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: #1F1F1F;
  font-size: 0.7rem;
  text-align: center;
}
.mini-nav .nav__area__item a i {
  font-size: 1.1rem;
}

@media only screen and (max-width: 570px) {
  .mini-nav {
    display: block;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 570px) {
  .mini-nav {
    display: block;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mini-nav {
    display: none;
  }
}
.main {
  padding: 1rem 1rem 0;
  position: relative;
}
.main__title {
  margin-bottom: 1rem;
}
.main__header {
  height: fit-content;
  width: 100%;
}
.main__header__slider {
  height: 100%;
  position: relative;
}
.main__header__slider img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem;
  filter: blur(2px);
}
.main__header__slider__textarea {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 50%;
}
.main__header__slider__textarea h1 {
  font-size: 2.5rem;
}
.main__header__slider__textarea .btn {
  text-align: center;
  width: 50%;
  height: 2rem;
  border-radius: 0.3rem;
}
.main__header__slider__textarea a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__header__slider__type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #FAFCFC;
  padding: 0.3rem;
  border: 1px solid #1F1F1F;
}
.main__header__slider__chapter {
  padding: 0.3rem;
  background: #FAFCFC;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.main__header__slider__ig {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.main__header__slider__ig i {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 100%;
  width: 1.2rem;
  height: 1.2rem;
  background: #FAFCFC;
}
.main__header__slider__ig i:hover {
  cursor: pointer;
}
.main__categories__area {
  background-color: #F4B333;
  min-height: 120px;
  height: fit-content;
  border-radius: 1rem 1rem 0 0;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}
.main__categories__area li {
  width: fit-content;
  list-style: none;
  background: #FAFCFC;
  padding: 0.2rem 0.8rem;
  border: 2px solid #1F1F1F;
  box-shadow: 0px 0px 2px 0px #1F1F1F;
}
.main__categories__area a {
  color: #1F1F1F;
  text-decoration: none;
}
.main__chapters {
  padding: 1rem;
  width: 100%;
  min-height: 372px;
  background-color: #1F1F1F;
}
.main__chapters__h1 {
  margin-bottom: 1rem;
  color: #FAFCFC;
}
.main__chapters__h1 span {
  color: #F4B333;
}
.main__chapters__area {
  display: grid;
  gap: 0.6rem;
}
.main__chapters__area__manga {
  gap: 0.6rem;
  width: 100%;
  max-height: 200px;
  display: flex;
  color: white;
}
.main__chapters__area__manga img {
  height: 100%;
  width: 35%;
}
.main__chapters__area__manga__right {
  height: 100%;
  width: 55%;
}
.main__chapters__area__manga__right .title {
  min-height: 30%;
}
.main__chapters__area__manga__right .title .p {
  font-size: 1rem;
  font-weight: 600;
}
.main__chapters__area__manga__right .title .p a {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__chapters__area__manga__right .title .like {
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.main__chapters__area__manga__right .title .like .fa-star {
  color: #F4B333;
}
.main__chapters__area__manga__right .chapters {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 70%;
  width: 100%;
}
.main__chapters__area__manga__right .chapters .chapter {
  border: 2px solid rgb(204, 204, 204);
  border-radius: 0.6rem;
  text-align: center;
  padding: 0.3rem;
  margin-top: 0.3rem;
}
.main__chapters__area__manga__right .chapters .chapter:first-child {
  margin-top: 0;
}
.main__chapters__area__manga__right .chapters .chapter:hover {
  border: 2px solid #E40066;
  background: #E40066;
}
.main__chapters__area__manga__right .chapters .see-all {
  border: 2px solid #E40066;
}
.main__chapters__area__manga__right li {
  text-align: center;
  width: 100%;
}
.main__chapters__area__manga__right li:hover {
  background-color: #E40066;
}
.main__chapters__area__manga__right a {
  width: 100%;
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 570px) {
  .main__header__slider__textarea h1 {
    font-size: 2rem;
  }
  .main__categories__area a {
    font-size: 0.8rem;
  }
  .main__chapters__area {
    grid-template-columns: repeat(1, 1fr);
  }
  .main__chapters__area__manga__right h1 {
    font-size: 1rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 570px) {
  .main__chapters__area {
    grid-template-columns: repeat(2, 1fr);
  }
  .main__chapters__area__manga__right h1 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .main {
    margin-left: 13rem;
  }
  .main__chapters__area {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  .main {
    margin-left: 13rem;
  }
  .main__chapters__area {
    grid-template-columns: repeat(4, 1fr);
  }
}
.cont__login {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.cont__login .content {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.cont__login .content .form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
}
.cont__login .content .form__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cont__login .content .form__title h1, .cont__login .content .form__title i {
  font-size: 2rem;
  margin-right: 7px;
  color: #1B6FA8;
}
.cont__login .content .form__desc h1, .cont__login .content .form__desc p {
  color: #1F1F1F;
  margin-bottom: 0.6rem;
}
.cont__login .content .form__desc p {
  font-weight: 300;
  font-size: 0.95rem;
}
.cont__login .content .form__desc span {
  color: #1B6FA8;
}
.cont__login .content .form__area {
  width: 100%;
}
.cont__login .content .form__area .input__box {
  width: 100%;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.cont__login .content .form__area .input__box:first-child {
  margin-bottom: 0.6rem;
}
.cont__login .content .form__area .input__box i {
  width: 10%;
  text-align: center;
}
.cont__login .content .form__area .input__box .input {
  position: relative;
  width: 90%;
}
.cont__login .content .form__area .input__box .input input {
  height: 3rem;
  position: relative;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #1F1F1F;
}
.cont__login .content .form__area .input__box .input span {
  position: absolute;
  left: 0;
  color: #1F1F1F;
  pointer-events: none;
  transition: 0.5s;
  text-align: left;
  padding: 0.85rem 0 0;
}
.cont__login .content .form__area .input__box .input input:valid ~ span, .cont__login .content .form__area .input__box .input input:focus ~ span {
  color: #1B6FA8;
  transform: translateY(-10px);
  font-size: 0.8rem;
  background-color: white;
  padding: 0.2rem;
}
.cont__login .content .form__alt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cont__login .content .form__alt__remember {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cont__login .content .form__alt__remember input {
  margin-right: 7px;
}
.cont__login .content .form__alt__recovery a {
  font-size: 1rem;
  color: #1B6FA8;
  text-decoration: none;
}
.cont__login .content .form__buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont__login .content .form__buttons .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-radius: 1rem;
}
.cont__login .content .form__buttons .btn:first-child {
  margin-bottom: 0.6rem;
}
.cont__login .content .form__buttons .btn i {
  margin-right: 7px;
}
.cont__login .content .form__others a {
  font-size: 1rem;
  color: #1B6FA8;
  text-decoration: none;
}
.cont__login .img {
  height: 100%;
}
.cont__login .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cont__login .content {
    width: 100%;
  }
  .cont__login .content .form {
    height: 90%;
  }
  .cont__login .img {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .cont__login .content {
    width: 100%;
  }
  .cont__login .content .form {
    height: 90%;
  }
  .cont__login .img {
    display: none;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cont__login .content {
    width: 60%;
  }
  .cont__login .content .form {
    height: 80%;
  }
  .cont__login .content .form__alt__remember input {
    width: 1rem;
    height: 1rem;
  }
  .cont__login .content .form__alt__remember label {
    font-size: 0.8rem;
    height: 1rem;
  }
  .cont__login .img {
    width: 40%;
    display: block;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cont__login .content {
    width: 50%;
  }
  .cont__login .content .form {
    height: 70%;
  }
  .cont__login .content .form__alt__remember input {
    width: 1.3rem;
    height: 1.3rem;
  }
  .cont__login .content .form__alt__remember label {
    font-size: 1rem;
    height: 1.3rem;
  }
  .cont__login .img {
    width: 50%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .cont__login .content .form {
    height: 65%;
  }
}
.cont__signup {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.cont__signup .content {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.cont__signup .content .form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
}
.cont__signup .content .form__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cont__signup .content .form__title h1, .cont__signup .content .form__title i {
  font-size: 2rem;
  margin-right: 7px;
  color: #1B6FA8;
}
.cont__signup .content .form__desc h1, .cont__signup .content .form__desc p {
  color: #1F1F1F;
  margin-bottom: 0.6rem;
}
.cont__signup .content .form__desc p {
  font-weight: 300;
  font-size: 0.95rem;
}
.cont__signup .content .form__desc span {
  color: #1B6FA8;
}
.cont__signup .content .form__area {
  width: 100%;
}
.cont__signup .content .form__area .input__box {
  width: 100%;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 0.6rem;
}
.cont__signup .content .form__area .input__box:last-child {
  margin-bottom: 0;
}
.cont__signup .content .form__area .input__box i {
  width: 10%;
  text-align: center;
}
.cont__signup .content .form__area .input__box .input {
  position: relative;
  width: 90%;
}
.cont__signup .content .form__area .input__box .input input {
  height: 3rem;
  position: relative;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #1F1F1F;
}
.cont__signup .content .form__area .input__box .input span {
  position: absolute;
  left: 0;
  color: #1F1F1F;
  pointer-events: none;
  transition: 0.5s;
  text-align: left;
  padding: 0.85rem 0 0;
}
.cont__signup .content .form__area .input__box .input input:valid ~ span, .cont__signup .content .form__area .input__box .input input:focus ~ span {
  color: #1B6FA8;
  transform: translateY(-10px);
  font-size: 0.8rem;
  background-color: white;
  padding: 0.2rem;
}
.cont__signup .content .form__alt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cont__signup .content .form__alt__remember {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cont__signup .content .form__alt__remember input {
  margin-right: 7px;
}
.cont__signup .content .form__buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont__signup .content .form__buttons .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-radius: 1rem;
}
.cont__signup .content .form__buttons .btn:first-child {
  margin-bottom: 0.6rem;
}
.cont__signup .content .form__buttons .btn i {
  margin-right: 7px;
}
.cont__signup .content .form__others a {
  font-size: 1rem;
  color: #1B6FA8;
  text-decoration: none;
}
.cont__signup .img {
  height: 100%;
}
.cont__signup .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cont__signup .content {
    width: 100%;
  }
  .cont__signup .content .form {
    height: 90%;
  }
  .cont__signup .img {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .cont__signup .content {
    width: 100%;
  }
  .cont__signup .content .form {
    height: 90%;
  }
  .cont__signup .img {
    display: none;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cont__signup .content {
    width: 60%;
  }
  .cont__signup .content .form {
    height: 80%;
  }
  .cont__signup .content .form__alt__remember input {
    width: 1.3rem;
    height: 1.3rem;
  }
  .cont__signup .content .form__alt__remember label {
    height: 1.3rem;
  }
  .cont__signup .img {
    width: 40%;
    display: block;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cont__signup .content {
    width: 50%;
  }
  .cont__signup .content .form {
    height: 70%;
  }
  .cont__signup .content .form__alt__remember input {
    width: 1.3rem;
    height: 1.3rem;
  }
  .cont__signup .content .form__alt__remember label {
    height: 1.3rem;
  }
  .cont__signup .img {
    width: 50%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .cont__signup .content .form {
    height: 75%;
  }
}
body {
  font-family: "Lato", sans-serif;
}/*# sourceMappingURL=main.css.map */